.idea
.pytest_cache
.venv
node_worker/node_modules/
__pycache__
processing_transition.json
process_success.json
result.json
transition.json
validation_failed.json
validation_success.json
workflow.json